* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container_1 {
  min-width: 1200px;
  padding-top: 20px;
}

.banner_1 {
  border-radius: 10px;
  width: 1200px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px 1px rgb(199, 199, 199);
  background: url(./img/1.jpg);
  background-size: cover;
  position: relative;
  transition: all 0.8s;
}

.component {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  justify-content: space-between;
  padding: 0 10px;
  display: flex;
  transition: all 0.4s;
  opacity: 0;
}

.component > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.component > div > img {
  width: 15px;
}

.banner_1_tab {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.banner_1_tab > li {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  box-shadow: 0px 0px 1px 1px rgb(255, 255, 255);
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.banner_1_tab > li:hover .tab1 {
  opacity: 1;
}

.tab1 {
  background: #f1f1f1;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.6s;
}

.active {
  opacity: 1;
}

.container_2 {
  min-width: 1200px;
  margin-top: 30px;
}

.hot_4 {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 20px;
  border-bottom: 1px solid rgb(208 208 208);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hot_4 > h3 {
  color: rgb(105, 105, 105);
}

.hot {
  box-shadow: 0px 0px 10px 1px rgb(199, 199, 199);
  border-radius: 10px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.hot_1 {
  overflow: hidden;
}

.hot_2 {
  display: flex;
  flex-wrap: wrap;
  width: 2400px;
  font-size: 100px;
  text-align: center;
  transition: all 1.5s;
}
.hot_2 > li {
  border-right: 1px solid #dfdfdf;
  width: 300px;
  padding: 135px 0;
  color: rgb(87, 87, 87);
  cursor: pointer;
}

.hot_tab {
  border-bottom-right-radius: 10px;
}

.hot_3 {
  display: flex;
}

.hot_3 > li {
  box-shadow: 0px 0px 5px 1px rgb(199, 199, 199);
  margin-left: 30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgb(189 189 189);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hot_3 > li > img {
  width: 6px;
}

.hot_tab_1.tab1_no {
  box-shadow: 0px 0px 0px 0px rgb(199, 199, 199);
  cursor: not-allowed;
}

.container_3 {
  height: 606px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 300px;
  box-shadow: 0px 0px 10px 1px rgb(199, 199, 199);
  border-radius: 10px;
  display: flex;
}

.container_3_tab {
  width: 20%;
}

.container_3_tab_1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* height: 700px; */
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
}
.container_3_tab_1 > li {
  border: 1px solid rgb(180, 180, 180);
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container_3_tab_2 > img {
  width: 55px;
}

.container_3_tab_2.active {
  border: 3px solid rgb(116, 116, 116);
}

.container_3_img {
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_3_img_1 {
  width: 100%;
  height: 300px;
}

.container_3_img_1 > img {
  width: 300px;
}

.container_3_Details {
  width: 50%;
  margin-top: 60px;
}

.container_3_Details_1 {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.container_3_Details_1_1 {
  font-size: 25px;
  /* width: 480px; */
  margin-bottom: 20px;
}

.container_3_Details_1_2 {
  color: rgb(97, 97, 97);
  margin-bottom: 20px;
}

.container_3_Details_1_3 {
  position: absolute;
  /* top: 85px; */
  bottom: 16px;
  right: 97px;
  font-size: 25px;
  font-weight: 800;
  color: #d44d44;
}

.container_3_Details_2 {
  display: flex;
  padding-top: 20px;
  border-bottom: 1px solid #ececec;
}

.container_3_Details_2 > h3 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(139, 139, 139);
  margin-right: 50px;
}

.container_3_Details_2 > ul > li {
  color: rgb(78, 78, 78);
  font-size: 8px;
  margin-bottom: 20px;
}

.container_3_Details_2_tag1 {
  color: #d44d44;
  background: #fce9e8;
  border: 1px solid #f0bab6;
  padding: 2px 6px;
  border-radius: 10px;
}

.container_3_Details_2_tag2 {
  background: #fffbe5;
  border: 1px solid #ffe57a;
  color: #e6b217;
  padding: 2px 6px;
  border-radius: 10px;
}

.container_3_Details_3 > h3 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(139, 139, 139);
  margin-right: 50px;
}

.container_3_Details_3 {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ececec;
}

.container_3_Details_3 > ul {
  display: flex;
}

.container_3_Details_3_tag {
  font-size: 14px;
  color: rgb(139, 139, 139);
  border: 1px solid rgb(203 203 203);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.container_3_Details_3_tag.active {
  border: 3px solid rgb(116 116 116);
}

.container_3_Details_4 {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ececec;
}

.container_3_Details_4 > h3 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(139, 139, 139);
  margin-right: 50px;
}

.container_3_Details_4_1 {
  display: flex;
}

.container_3_Details_4_1 > button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 1px rgb(199, 199, 199);
}

.container_3_Details_4_1 > button > img {
  width: 15px;
}

.container_3_Details_4_3 {
  margin: 0 20px;
  color: rgb(134, 134, 134);
  overflow: hidden;
  height: 25px;
}

.container_3_Details_4_2.dis {
  cursor: not-allowed;
}

.container_3_Details_4_1.dis {
  cursor: not-allowed;
}

.container_3_Details_4_3_1 {
  transition: all 0.4s;
  height: 250px;
}

.container_3_Details_4_3_1 > li {
  width: 20px;
  height: 25px;
  text-align: center;
  font-weight: 900;
}

.container_3_Details_5 {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container_3_Details_5 > h3 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(139, 139, 139);
  margin-right: 50px;
}

.container_3_Details_5 > p {
  color: rgb(136, 136, 136);
  font-size: 8px;
}
